numpy<2
scipy
h5py
notebook
jupyterlab
jupyterlab-myst
ipywidgets
matplotlib
ipympl
colorspacious
abtem
ase
py4dstem
gemmi
https://raw.githubusercontent.com/gvarnavi/TemGymLite/main/dist/temgymlite-0.6.0.0-py3-none-any.whl
